<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jc.research.mapper.AlgorithmMapper">

    <resultMap id="algorithmMap" type="com.jc.research.entity.algorithm.Algorithm">
        <id property="id" column="id"/>
        <result property="algorithmName" column="algorithm_name" jdbcType="VARCHAR"/>
        <result property="displayName" column="display_name" jdbcType="VARCHAR"/>
        <result property="fullClassName" column="full_class_name" jdbcType="VARCHAR"/>
        <result property="stepName" column="step_name" jdbcType="VARCHAR"/>
        <result property="execOrder" column="exec_order"/>
    </resultMap>

    <select id="getAllAlgorithms" resultMap="algorithmMap">
        SELECT id, display_name, step_name FROM algorithm
    </select>
</mapper>
