<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~
  ~      Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~  Redistribution and use in source and binary forms, with or without
  ~  modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~  this list of conditions and the following disclaimer.
  ~  Redistributions in binary form must reproduce the above copyright
  ~  notice, this list of conditions and the following disclaimer in the
  ~  documentation and/or other materials provided with the distribution.
  ~  Neither the name of the pig4cloud.com developer nor the names of its
  ~  contributors may be used to endorse or promote products derived from
  ~  this software without specific prior written permission.
  ~  Author: lengleng (wangiegie@gmail.com)
  ~
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jc.research.mapper.AlgorithmMapper">

    <resultMap id="algorithmMap" type="com.jc.research.indicatorAl.algorithm.Algorithm">
        <id property="id" column="id"/>
        <result property="algorithmName" column="algorithm_name" jdbcType="VARCHAR"/>
        <result property="displayName" column="display_name" jdbcType="VARCHAR"/>
        <result property="fullClassName" column="full_class_name" jdbcType="VARCHAR"/>
        <result property="stepName" column="step_name" jdbcType="VARCHAR"/>
        <result property="execOrder" column="exec_order"/>
    </resultMap>

    <select id="getAllAlgorithms" resultMap="algorithmMap">
        SELECT id, display_name, step_name FROM algorithm
    </select>
</mapper>
