<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cvicse.cic.module.datasource.dao.CiConstructTargetDao">

    <resultMap id="ciConstructTargetMap" type="com.cvicse.cic.module.datasource.bean.DataIndicatorSystemData">
        <id property="id" column="id"/>
        <result property="targetName" column="target_name" jdbcType="VARCHAR"/>
        <result property="data" column="data"/>
        <result property="belongColumnIndex" column="belong_column_index"/>
    </resultMap>

</mapper>
