<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jc.research.mapper.CiFrameworkObjectMapper">

    <resultMap id="ciFrameworkObjectMap" type="com.jc.research.entity.CiFrameworkObject">
        <id property="id" column="id"/>
        <result property="frameworkObjectName" column="framework_object_name" jdbcType="VARCHAR"/>
    </resultMap>

    <!--<insert id="save" parameterType="com.jc.research.entity.CiFrameworkObject" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ci_framework_object (framework_object_name)
        VALUES (#{framework_object_name});
    </insert>-->

    <delete id="deleteCiFrameworkObjectById">
        DELETE c1, c2, c3, c4 FROM ci_framework_object AS c1
        LEFT JOIN ci_framework_indicator AS c2
        ON c1.id = c2.ci_framework_object_id
        LEFT JOIN ci_framework_treepath AS c3
        ON c1.id = c3.ci_framework_object_id
        LEFT JOIN ci_construct_target AS c4
        ON c1.id = c4.ci_framework_object_id
        WHERE c1.id = ${ciFrameworkObjectId}
    </delete>
</mapper>
